
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 


 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 


 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 


 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


 }
*{
border: 0px;
padding: 0%;
margin: 0%;



}


#projeto_social{
width: 100%;
background-color: yellow;




}





#sobre {
    background-color: #E4E4E4;
}
#sobre img {
    width: 100%;
}